<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepE">
	<resultMap type="DepE" id="DepEResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="jobCode" column="JOB_CODE" />
		<result property="depId" column="DEP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="jobName" column="JOB_NAME" />
		<result property="emergencyPhone" column="EMERGENCY_PHONE" />
	</resultMap>
	
	
	
	<!-- 비상연락망 조회 -->
	<select id="selectDepeList" resultMap="DepEResultSet" parameterType="String">
	SELECT E.EMP_NAME,D.DEP_NAME, J.JOB_NAME , E.EMERGENCY_PHONE FROM EMPLOYEE E
		LEFT JOIN DEPT_RECORD DR ON(E.EMP_NO = DR.EMP_NO)
		LEFT JOIN DEPARTMENT D ON(DR.DEP_ID = D.DEP_ID)
		LEFT JOIN JOB_RECORD JR ON(E.EMP_NO = JR.EMP_NO)
		LEFT JOIN JOB J ON(J.JOB_CODE = JR.JOB_CODE)
		LEFT JOIN POSITION_RECORD PR ON(E.EMP_NO = PR.EMP_NO)
		LEFT JOIN POSITION P ON(P.POSITION_NO = PR.POSITION_NO)
		WHERE DEP_RECORD_DATE = (SELECT MAX(DEP_RECORD_DATE) FROM DEPT_RECORD R WHERE R.EMP_NO = E.EMP_NO)
		AND JOB_RECORD_DATE = (SELECT MAX(JOB_RECORD_DATE) FROM JOB_RECORD R WHERE R.EMP_NO = E.EMP_NO)
		AND POSITION_RECORD_DATE = (SELECT MAX(POSITION_RECORD_DATE) FROM POSITION_RECORD R WHERE R.EMP_NO = E.EMP_NO)
		AND DEP_NAME = #{depName}
		ORDER BY 1
    
	</select>

	
		
</mapper>


















