<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Facing">
	<resultMap type="Facing" id="FacingResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="facingNo" column="FACING_NO" />
		<result property="facingTitle" column="FACING_TITLE" />
		<result property="facingContents" column="FACING_CONTENTS" />
		<result property="writeDate" column="WRITE_DATE" />
		<result property="receiver" column="RECEIVER" />
		<result property="status" column="STATUS" />
		<result property="receiverDate" column="RECEIVER_DATE" />
		<result property="depId" column="DEP_ID" />
		<result property="depName" column="DEP_NAME" />
		<result property="oriFileName" column="ORI_FILENAME" />
		<result property="modiFileName" column="MODI_FILENAME"/>
		<result property="fileNo" column="FILE_NO"/>
		<result property="emailNo" column="EAMIL_NO"/>	
	</resultMap>
	
		<resultMap type="FacingInsert" id="FacingIResultSet">
		<id property="empNo" column="EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="facingNo" column="FACING_NO" />
		<result property="facingTitle" column="FACING_TITLE" />
		<result property="facingContents" column="FACING_CONTENTS" />
		<result property="writeDate" column="WRITE_DATE" />
		<result property="receiver" column="RECEIVER" />
		<result property="status" column="STATUS" />
		<result property="receiverDate" column="RECEIVER_DATE" />
	</resultMap>
	
		<resultMap type="FacingInsertR" id="FacingRResultSet">
		<result property="facingNo" column="FACING_NO" />
		<result property="receiver" column="RECEIVER" />	
		<result property="receiverDate" column="RECEIVER_DATE" />
	</resultMap>
	
	<resultMap type="Alram" id="AlramResultSet">
		<result property="alramNo" column="ALARM_NO" />
		<result property="alramContents" column="ALARM_CONTENTS" />	
		<result property="empNo" column="EMP_NO" />
		<result property="status" column="STATUS" />
	</resultMap>
	
	<resultMap type="WorkingQr" id="WorkingListResultSet">
		<id property="empNo" column="EMP_NO"/>
		<result property="workRecordNo" column="WORK_RECORD_NO" />
		<result property="hours" column="HOURS" />	
		<result property="empName" column="EMP_NAME" />
		<result property="today" column="TODAY" />
	</resultMap>
	

	<!-- 출석 -->
	<insert id="insertWorking" parameterType="WorkingRecord">
	
    INSERT INTO "FINAL"."WORKING_RECORD"(WORK_RECORD_NO,HOURS,EMP_NO)
    VALUES (WORK_RECORD_NO.NEXTVAL,SYSDATE,#{empNo})

	</insert>
	
	
	
	<!--  보낸 쪽지 리스트-->
	<select id="selectFacing" resultMap="FacingResultSet" parameterType="int">
 	SELECT F.WRITE_DATE , F.FACING_TITLE , F.FACING_CONTENTS, F.FACING_NO , RECEIVER 
	FROM FACING F JOIN EMPLOYEE E ON (F.EMP_NO = E.EMP_NO) JOIN FACING_RECEIVE FR ON (F.FACING_NO = FR.FACING_NO)
	WHERE F.EMP_NO = #{empNo} AND F.STATUS = 'Y'
	</select>
	
	<select id="reciveFacing" resultMap="FacingResultSet" parameterType="int">
	SELECT WRITE_DATE,FACING_TITLE , FACING_CONTENTS, EMP_NAME ,F.FACING_NO , F.EMP_NO
	FROM FACING F JOIN FACING_RECEIVE FR ON (F.FACING_NO = FR.FACING_NO) 
	JOIN EMPLOYEE E ON (F.EMP_NO = E.EMP_NO) WHERE RECEIVER = #{receiver} AND F.STATUS = 'Y'
	</select>
	
	<select id ="selectOneFacing" resultMap="FacingResultSet" parameterType="int">
	
    SELECT F.WRITE_DATE , E.EMP_NAME , F.FACING_TITLE , F.FACING_CONTENTS , F.EMP_NO ,A.FILE_NO ,ORI_FILENAME , MODI_FILENAME
     ,EMAIL_NO
	FROM FACING F JOIN EMPLOYEE E ON (F.EMP_NO = E.EMP_NO) JOIN ATTACHMENT A ON (F.FACING_NO = A.EMAIL_NO)  
    WHERE F.FACING_NO = #{facingNo}
    
	</select>
	
	<update id="updateFacing" parameterType="int">
	UPDATE FACING SET STATUS = 'N' WHERE FACING_NO = #{facingNo} 
	</update>
	<insert id="insertFacing" parameterType="FacingInsert">
	  
      INSERT INTO "FINAL"."FACING" (FACING_NO, FACING_TITLE, FACING_CONTENTS, WRITE_DATE, EMP_NO, STATUS) 
  	  VALUES (FACING_NO.NEXTVAL, #{facingTitle}, #{facingContents}, SYSDATE,#{empNo}, 'Y')
            
	</insert>
	
	<select id="selectNowFaicng" resultMap="FacingResultSet" parameterType="int">
	SELECT FACING_NO ,WRITE_DATE FROM
	FACING 
	WHERE FACING_NO = (SELECT MAX(FACING_NO)FROM FACING WHERE EMP_NO=#{empNo})
	AND EMP_NO = #{empNo} 
	ORDER BY FACING_NO DESC
	</select>

	<insert id="insertFaicngR" parameterType="FacingInsertR">
	INSERT INTO "FINAL"."FACING_RECEIVE" (FACING_NO, RECEIVER, RECEIVE_DATE) 
	VALUES (#{facingNo}, #{receiver}, SYSDATE)
	</insert>
	
	<insert id="insertAlram" parameterType="Alram">
	INSERT INTO "FINAL"."ALARM" (ALARM_NO, ALARM_CONTENTS, EMP_NO , STATUS ,RECEIVE_DATE) 
	VALUES (ALARM_NO.NEXTVAL,#{alramContents}, #{empNo}, 'Y', SYSDATE)
	</insert>
	
	<!-- 출석후 페이지 -->
	<select id="selectQrList" resultMap="WorkingListResultSet" parameterType="int">
	SELECT WORK_RECORD_NO ,WR.EMP_NO,EMP_NAME,TO_CHAR(HOURS,'YYYY-MM-DD')TODAY,TO_CHAR(HOURS,'HH24:MI:SS')HOURS    
    FROM WORKING_RECORD WR JOIN EMPLOYEE E ON (WR.EMP_NO = E.EMP_NO)
    WHERE HOURS = (SELECT MAX(HOURS) FROM WORKING_RECORD)
    AND WR.EMP_NO = #{empNo}
	</select>
	

</mapper>

